@import url("https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@400;700&display=swap");

html, body, main {
  height: 100vh;
  line-height: 1;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
